@{
    ViewBag.Title = "Home Page";
}

<div class="container" ng-controller="funcionarioCtrl">

    <div class="panel panel-info">
        <div class="panel-heading">
            Listagem de funcionários - CRUD com Angular
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-info" data-target="#AdicionarFuncionario" data-toggle="modal">
                <span class="glyphicon glyphicon-plus"> </span>
            </button>
        </div>
    </div>

    <table class="table table-bordered">
        <thead style="background-color:burlywood;">
            <tr>
                <th>FuncionárioId</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Departamento</th>
                <th>Cargo</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="func in funcionarios">
                <td>{{func.FuncionarioId}}</td>
                <td>{{func.Nome}}</td>
                <td>{{func.Email}}</td>
                <td>{{func.Departamento}}</td>
                <td>{{func.Cargo}}</td>
                <td style="width:200px">
                    <a href="#" title="Atualizar" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i></a>
                    <a href="#" title="Excluir" class="btn btn-danger"><i class="glyphicon glyphicon-floppy-remove"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

    @*Modal de inserção de funcionário*@
    <div class="modal" id="AdicionarFuncionario" role="dialog">
        <div class="modal-dialog">
            <div class=" modal-content">
                <div class="modal-header">
                    <h3 class="text-info">Adicionar Funcionário</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="AdicionarNovoFuncionarioForm">
                        <div class="form-group">
                            <input class="form-control" readonly="readonly" name="FuncionarioId" type="hidden" placeholder="Id do Funcionário" />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" name="Nome" ng-model="Nome" placeholder="Nome..." />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" name="Email" ng-model="Email" placeholder="Email..." />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" name="Departamento" ng-model="Departamento" placeholder="Departamento" />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" name="Cargo" ng-model="Cargo" placeholder="Cargo..." />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnSalvar" data-dismiss="modal" ng-click="adicionarFuncionario()">Salvar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="limparDados()">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/AngularJsApp/Funcionario/Module.js"></script>
    <script src="~/AngularJsApp/Funcionario/Service.js"></script>
    <script src="~/AngularJsApp/Funcionario/Controller.js"></script>
}